:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-white: #ffffff;
}

body {
  background-color: var(--text-white);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}

.logo .logo-blue {
  color: #2196f3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-nav .link {
  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}

.menu-nav .link.current {
  color: var(--accent-color);
}

.contact .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.business {
  background-color: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 452px 30px;
  align-items: center;
  text-align: center;
}

.peculiarities {
  padding-bottom: 94px;
  padding-top: 94px;
}

.peculiarities-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list .title {
  color: var(--primari-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features-list .title-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.our-work-title {
  color: var(--primari-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.our-teams {
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-teams-title {
  color: var(--primari-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.teams .title {
  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.teams .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--text-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: none;
  margin: 0 auto;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #2196f3;
}

.footer .text {
  color: var(--text-white);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.footer .link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.filter .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
}

.filter .btn:hover,
.filter .btn:focus,
.filter .btn:active {
  color: var(--text-white);
  background-color: var(--accent-color);
}

.projects .title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.projects .title-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
/*HW3 start*/
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}
